@font-face {
    font-family: billabong;
    src: url("billabong.ttf");
    font-weight: bold;
}
body{
    margin:0;
    /* padding: 20px; */
    background-color: rgb(187, 206, 206);   
}

.background-container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 30px 2fr; 
  grid-column-gap:5px;
  
  background-color: white;
  padding: 5px;
  border-radius:5px; 
}
/*------------------grid----first-----------*/
.grid-first{
    display: grid;
    grid-template-columns: 30px 1fr;
}
.insta-img{
    
    display: grid;
    align-items:end; 
    padding-top: 2px; 
}
.text1{
    padding-top: 2px;
    font-family: billabong;
    font-size: 25px;
}

/*------------------grid----two-----------*/
.input1_box{
    position:relative;
    width:200px;
}
.input1_data{
    border-radius: 5px;
    text-align: left;
    padding-left:30px;
    height: 25px;
    width:100%;
    border: 1px solid lightgray;
    padding-top: 3px;
    /* background-image: url("microphone.png");
    background-position: 5px 5px;
    background-repeat: no-repeat; */
    box-sizing: border-box;

}
.searchicon{
    position:absolute;
    top:6px;
    left:7px;
}
.microphone_icon{
    position:absolute;
    top:6px;
    right:5px;
}
/*------------------grid----three-----------*/
.grid-three{
    display:grid;
    grid-template-columns: 140px auto;
   
}
.input2_box{
    position:relative;
    box-sizing: border-box;
    width:140px;
}
.input2_data{
    background-color: #FF5068;
    border: 1px solid #FF5068;
    width:100%;
    height : 25px;
    padding:0px;
    color: white;
    border-radius: 5px;
    padding-left: 4px;
}
.plus{
    position:absolute;
    left:5px;
    top:6px;
    width:13px;
    height:13px;
}
.icons {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.i1{
    padding-left: 10px;
}
.i2{    
    padding-left: 10px;
}
.i3{
    width:23px;
    height:23px;
    transition: border 0.5s linear;
    border-radius: 50%; 
    margin-left:10px;
    align-self: start;
}
.i3:hover{
    border: 2px solid red; 
}
/*------grid-four-------------*/
.grid-four{
    display:grid;
    grid-template-rows:1fr auto;
    box-sizing: border-box;
}
.grid4{
    display:grid;
    
}
.i4{
    position: relative;
    width:80px;
    height:80px;
    margin-left: 60px;
    margin-top:45px;
    border-radius: 50%;
    border:1px solid none;
}
.s1{
    position: absolute;
    left:58px;
    top:66px;
    padding-top: 98px;
    padding-left: 93px;
    border-radius: 50%;
    border:1px solid #FF5068;
}
.s2{
    padding-top: 10px;
    padding-left: 67px;
    font-weight: 600;
}
.s3{
    padding-top: 5px;
    padding-left: 65px;
    color: grey;
}
.grid-sub-four{
    display: grid;
    padding-top: 95px;
    grid-template-columns: 60px 80px 1fr;
    grid-template-rows:1fr 1fr ; 
    grid-auto-flow:column;
}
.s4{
    font-weight: 600;
    margin:0px;
    padding-left: 20px;
}
.s5{
    color: grey;
    margin:0px;
    padding-left: 27px;
}
.s6{
    font-weight: 600;
    margin:0px;
    padding-left: 5px;
}
.s7{
    color: grey;
    margin:0px;
    padding-left: 20px;
}
.s8{
    font-weight: 600;
    margin:0px;
    padding-left: 5px;
}
.s9{
    color: grey;
    margin:0px;
    padding-left: 27px;
}
.context{
    padding-top: 50px;
    display:grid;
    grid-template-columns:60px 1fr;
    grid-template-rows:1fr 1fr;
}
.i5{
    padding-top: 15px;
    padding-left: 25px;
    width:16px;
    height:16px;
}
.i6{
    padding-top: 15px;
    padding-left: 23px;
    width:20px;
    height:20px;
}
/*---------------grid--five------------------*/
.grid-sub-five1{
    display:grid;
    padding-top:30px;
    grid-template-columns:1fr 1fr;
    grid-template-rows:30px 
}
.s10{
   font-weight:700;
   font-size:15px;
   padding-top: 16px;
   margin-top:0px;   
    
}
.s11{
    display: grid;
    color:rgb(75, 68, 68);
    justify-items: end;
}
.grid-sub-five2{
    display: grid;
    padding-top:30px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:180px auto;
    grid-column-gap:20px;
}
.i7{
    width:140px;
    height:180px;
    border-radius:5px;
    border: 1px solid lightgray;
    transition: box-shadow 2s;
}
.i7:hover{
    box-shadow: 5px 5px 10px 5px lightcoral;
}
.grid-sub-five3{
    display:grid;
    padding-top:30px;
    grid-template-columns:1fr 30px 30px;
    grid-template-rows:30px
}
.i8{
    padding-top:12px;
    width:15px;
    height: 15px;
}
.grid-sub-five4{
    display:grid;
    padding-top:30px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap:20px;
}
.i9{
    width:200px;
    height:250px;
    border-radius:5px;
    border: 1px solid lightgray;
    transition: box-shadow 2s;
}
.i9:hover{
    box-shadow: 5px 5px 10px 5px lightcoral;
}